@import "tailwindcss";
@import "tw-animate-css";

/* Use this to generate themes! */
/* https://shadcn-theme-generator.hyperlaunch.pro/ */

@custom-variant dark (&:is(.dark *));

* {
  scrollbar-width: none;
}

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: oklch(0.942 0.022 310);
  --card: oklch(0.942 0.022 310);
  --popover: oklch(0.942 0.022 310);
  --sidebar: oklch(0.942 0.022 310);
  --foreground: oklch(0.213 0.007 315);
  --card-foreground: oklch(0.213 0.007 315);
  --popover-foreground: oklch(0.213 0.007 315);
  --sidebar-foreground: oklch(0.213 0.007 315);
  --primary: oklch(0.486 0.249 299);
  --sidebar-primary: oklch(0.486 0.249 299);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.867 0.031 309);
  --accent: oklch(0.867 0.031 309);
  --sidebar-accent: oklch(0.867 0.031 309);
  --secondary-foreground: oklch(0.218 0 0);
  --accent-foreground: oklch(0.218 0 0);
  --sidebar-accent-foreground: oklch(0.218 0 0);
  --muted: oklch(0.872 0.022 310);
  --muted-foreground: oklch(0.52 0.033 308);
  --destructive: oklch(0.597 0.238 29);
  --destructive-foreground: oklch(0.961 0 0);
  --success: oklch(0.81 0.2564 144.41);
  --success-foreground: oklch(0.961 0 0);
  --border: oklch(0.699 0.096 308);
  --sidebar-border: oklch(0.699 0.096 308);
  --ring: oklch(0.629 0.171 306);
  --sidebar-ring: oklch(0.629 0.171 306);
  --input: oklch(0.705 0.084 308);
  --chart-1: oklch(0.486 0.249 299);
  --chart-2: oklch(0.445 0.229 294);
  --chart-3: oklch(0.47 0.215 311);
  --chart-4: oklch(0.377 0.19 285);
  --chart-5: oklch(0.391 0.172 303);
  --radius: 1rem;
}

.dark {
  --background: oklch(0.226 0.023 309);
  --card: oklch(0.226 0.023 309);
  --popover: oklch(0.226 0.023 309);
  --sidebar: oklch(0.226 0.023 309);
  --foreground: oklch(0.959 0 0);
  --card-foreground: oklch(0.959 0 0);
  --popover-foreground: oklch(0.959 0 0);
  --sidebar-foreground: oklch(0.959 0 0);
  --primary: oklch(0.642 0.207 305);
  --sidebar-primary: oklch(0.642 0.207 305);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.289 0.067 307);
  --accent: oklch(0.289 0.067 307);
  --sidebar-accent: oklch(0.289 0.067 307);
  --secondary-foreground: oklch(0.961 0 0);
  --accent-foreground: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.961 0 0);
  --muted: oklch(0.342 0.057 309);
  --muted-foreground: oklch(0.664 0.035 310);
  --destructive: oklch(0.613 0.228 27);
  --destructive-foreground: oklch(0.961 0 0);
  --success: oklch(0.81 0.2564 144.41);
  --success-foreground: oklch(0.961 0 0);
  --border: oklch(0.303 0.087 307);
  --sidebar-border: oklch(0.303 0.087 307);
  --ring: oklch(0.334 0.151 302);
  --sidebar-ring: oklch(0.334 0.151 302);
  --input: oklch(0.305 0.077 307);
  --chart-1: oklch(0.642 0.207 305);
  --chart-2: oklch(0.663 0.179 302);
  --chart-3: oklch(0.723 0.164 314);
  --chart-4: oklch(0.719 0.127 296);
  --chart-5: oklch(0.772 0.109 308);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
