@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */
* {
  scrollbar-width: none;
}

/* All colors are in hsl */
/* Generate theme here: https://zippystarter.com/tools/shadcn-ui-theme-generator */

:root {
  --background: 289 100% 100%;
  --foreground: 289 5% 10%;
  --card: 289 50% 100%;
  --card-foreground: 289 5% 15%;
  --popover: 289 100% 100%;
  --popover-foreground: 289 100% 10%;
  --primary: 289 100% 64%;
  --primary-foreground: 0 0% 0%;
  --secondary: 289 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 251 30% 95%;
  --muted-foreground: 289 5% 40%;
  --accent: 251 30% 90%;
  --accent-foreground: 289 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 289 5% 100%;
  --success: 100 100% 50%;
  --success-foreground: 289 5% 100%;
  --border: 289 30% 82%;
  --input: 289 30% 50%;
  --ring: 289 100% 64%;
  --radius: 1rem;
}
.dark {
  --background: 289 50% 10%;
  --foreground: 289 5% 100%;
  --card: 289 50% 10%;
  --card-foreground: 289 5% 100%;
  --popover: 289 50% 5%;
  --popover-foreground: 289 5% 100%;
  --primary: 289 100% 64%;
  --primary-foreground: 0 0% 0%;
  --secondary: 289 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 251 30% 25%;
  --muted-foreground: 289 5% 65%;
  --accent: 251 30% 25%;
  --accent-foreground: 289 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 289 5% 100%;
  --success: 100 100% 50%;
  --success-foreground: 289 5% 100%;
  --border: 289 30% 50%;
  --input: 289 30% 50%;
  --ring: 289 100% 64%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
